//color
$primary-color: #00bc77;
$white-color: #fff;
$dark-bg-color: #12002b;
$error-color: #30533c;

//margin and padding
$padding-small: 10px;
$padding-medium: 15px;
$margin-small: 10px;
$margin-medium: 15px;

//typography
$font-size-large: 1.5rem;
$font-size-medium: 1.2rem;
$font-weight-bold: bold;
