@use "../utils/_variables" as *;
@use "../utils/_mixins" as *;

.account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
  flex-direction: row;
  padding: 1.5rem;
  box-sizing: border-box;
  text-align: left;
  margin-bottom: 2rem;
  &-amount {
    margin: 0;
    font-size: 2.5rem;
    font-weight: bold;
  }
  &-amount-description {
    margin: 0;
  }
  &-title {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: normal;
  }
  &-content-wrapper {
    width: 100%;
    flex: 0;
  }
}

.transaction-button {
  @include button-style($primary-color, $white-color);
  display: block;
  width: 200px;
  padding: 8px;
  font-size: 1.1rem;
  margin-top: 1rem;
}

@include min-width-720 {
  .account {
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    &-content {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    &-content-wrapper.cta {
      flex: 0;
    }
  }
  .transaction-button {
    width: 200px;
  }
}
@include max-width-720 {
  .account {
    flex-direction: column;
    &-content-wrapper.cta {
      display: flex;
      justify-content: flex-end;
    }
    &-amount {
      margin: 0;
      font-size: 1.5rem;
      font-weight: bold;
    }
  }
  .transaction-button {
    width: 200px;
  }
}
