@use "../utils/_mixins.scss" as *;
@use "../utils/_variables.scss" as *;

.feature {
  display: flex;
  flex-direction: column;
  &-icon {
    width: 100px;
    border: 10px solid $primary-color;
    border-radius: 50%;
    padding: 1rem;
  }

  &-item {
    flex: 1;
    padding: 2.5rem;
    &-title {
      color: #222;
      font-size: 1.25rem;
      font-weight: $font-weight-bold;
      margin-bottom: 0.5rem;
    }
  }
}

@include min-width-920 {
  .feature {
    flex-direction: row;
  }
}
@include min-width-1600 {
  .feature-icon {
    width: 150px;
  }
}
