@use "../utils/_variables" as *;
@use "../utils/_mixins" as *;

.sign-in-button {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: $font-weight-bold;
  margin-top: 1rem;
  @include button-style($primary-color, $white-color);
}

.sign-in-content {
  box-sizing: border-box;
  background-color: $white-color;
  width: 300px;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 2rem;
  margin-bottom: 15px;
}

.sign-in-icon {
  font-size: 5rem;
}

.input-remember {
  display: flex;
}

.input-remember label {
  margin-left: 0.25rem;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;
}

.input-wrapper label {
  font-weight: bold;
}

.input-wrapper input {
  padding: 5px;
  font-size: 1.2rem;
}
.link-button {
  color: $white-color;
}
